body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo {
  background-color: #00698f;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.librerias {
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.librerias ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.librerias li {
  margin-bottom: 10px;
}

.librerias li::before {
  content: "📚";
  margin-right: 10px;
}

.rutas {
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.rutas ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rutas li {
  margin-bottom: 10px;
}

.rutas li::before {
  content: "📍";
  margin-right: 10px;
}

.parametros {
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.parametros ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.parametros li {
  margin-bottom: 10px;
}

.parametros li::before {
  content: "📝";
  margin-right: 10px;
}